<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg .tg-huad{background-color:#ffccc9}
.tg .tg-i6eq{background-color:#ffccc9;vertical-align:top}
</style>
<table class="tg">
  <tr>
    <th class="tg-huad">city</th>
    <th class="tg-i6eq">negative</th>
    <th class="tg-i6eq">neutral</th>
    <th class="tg-i6eq">positive</th>
  </tr>
{% for measure in measures %}
  <tr>
    <td class="tg-i6eq">{{measure.city.name}}</td>
    <td class="tg-i6eq">{{measure.negative}}</td>
    <td class="tg-i6eq">{{measure.neutral}}</td>
    <td class="tg-i6eq">{{measure.positive}}</td>
  </tr>
{% endfor %}
</table>
